<div class="min-h-screen bg-[#1c1c24] flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-black py-8 px-4 shadow-lg sm:rounded-lg sm:px-10">
      <!-- Header -->
      <div class="text-center mb-8">
        <h2 class="text-2xl sm:text-3xl font-bold text-red-600">
          Welcome Back
        </h2>
        <p class="mt-2 text-sm sm:text-base text-white">
          Please sign in to your account
          <a routerLink="/register"></a>
        </p>
      </div>

      <!-- Form -->
      <form [formGroup]="signUpform" (ngSubmit)="getData(signUpform)" class="space-y-6">

        <!-- Error Message -->
         @if (isErrorMsg) {
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            Wrong Email or Password
          </div>
        </div>
      }

        <!-- Email -->
        <div class="mb-5">
          <input type="email" for="email" formControlName="email" id="email" placeholder="Email" class="w-full bg-indigo-200 text-black rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-purple-600">
          @if (signUpform.get('email')?.touched && signUpform.get('email')?.hasError('required') ) {
          <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <span class="sr-only">Info</span>
            <div>
              please write your email
            </div>
          </div>
        }
          @if(signUpform.get('email')?.touched && signUpform.get('email')?.hasError('email')){
          <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <span class="sr-only">Info</span>
            <div>
              please write correct email
            </div>
          </div>
        }
        </div>

        <!-- Password -->
        <div class="relative mb-5">
          <input type="password" id="password" formControlName="password" placeholder="Enter your password" class="w-full bg-indigo-200 text-black rounded-lg p-3 pr-10 focus:outline-none focus:ring-2 focus:ring-purple-600">
          <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          </button>
          @if (signUpform.get('password')?.touched && signUpform.get('password')?.hasError('required')) {
          <div  class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <span class="sr-only">Info</span>
            <div>
              please write password
            </div>
          </div>
        }
        @if(signUpform.get('password')?.touched && signUpform.get('password')?.hasError('pattern') ){
          <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <span class="sr-only">Info</span>
            <div>
              <ul>
                <li>please start with capital letter</li>
                <li>minimum length: 6</li>
                <li>maximum length: 15</li>
              </ul>
            </div>
          </div>
        }
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-2 sm:space-y-0">
          <div class="flex items-center">
            <input type="checkbox" id="remember" class="h-4 w-4 text-red-600 focus:ring-red-500 border-gray-300 rounded" />
            <label for="remember" class="ml-2 block text-sm text-gray-700">Remember me</label>
          </div>
          <a href="#" class="text-sm text-red-600 hover:text-red-700">Forgot password?</a>
        </div>

        <!-- Submit Button -->

        @if (isLoading) {
          <button
          type="submit" class="text-white text-center bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 dark:bg-main dark:hover:bg-main dark:focus:border-main">
        <i class="fas fa-spinner fa-spin"> </i>
        </button>
        }
        @else {
          <button type="submit" class="w-full px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
            Login →
          </button>
        }

        <p class="mt-6 text-center text-white text-sm">
          Don't have an account?
          <a routerLink="/register" class="font-medium text-red-600 hover:text-red-700">Sign up now</a>
        </p>
      </form>
    </div>
  </div>
</div>