
<div class="w-full h-64 bg-gradient-to-r from-[#8892f0] to-[#aeb5f7]  text-gray-900 min-h-screen flex items-center justify-center p-4">
  <div class="w-full max-w-[1200px] bg-white rounded-3xl overflow-hidden shadow-2xl flex flex-col md:flex-row">
    <!-- left Section -->
    <div class="w-full md:w-1/2 p-6 md:p-12">
      <div class="max-w-md mx-auto">
        <h1 class="text-2xl md:text-4xl font-semibold mb-2">Log in</h1>
        <p class="text-gray-600 mb-4 md:mb-8">
          Don't have an account?
          <a routerLink="/register" class="text-indigo-600 hover:underline">Sign up</a>
        </p>
      </div>
      <form [formGroup]="signUpform" (ngSubmit)="login()" class="space-y-4">
        <div class="flex flex-col gap-4">
          <input type="email" placeholder="Email" formControlName="email" class="w-full bg-gray-100 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-indigo-600">
          <input type="password" placeholder="Password" formControlName="password" class="w-full bg-gray-100 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-indigo-600">
        </div>

        <div class="flex items-center justify-between">
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="checkbox" class="rounded bg-gray-100 border-gray-300 text-indigo-600 focus:ring-indigo-600">
            <span class="text-gray-600">Remember me</span>
          </label>
          <a href="#" class="text-sm text-indigo-600 hover:underline">Forgot password?</a>
        </div>

        <button type="submit" class="w-full bg-[#6875E7] text-white rounded-3xl p-3 hover:bg-indigo-700 transition-colors">
          Log in
        </button>

        <div class="relative my-4 md:my-8">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500">Or log in with</span>
          </div>
        </div>

        <div class="flex justify-center items-center">
          <button type="button" class="w-full md:w-1/2 flex items-center justify-center gap-2 bg-gray-100 rounded-lg p-3 hover:bg-gray-200 transition-colors">
            <svg class="w-5 h-5" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z"/>
            </svg>
            Google
          </button>
        </div>
      </form>
      <p *ngIf="isErrorMsg" class="error">{{ errorMessage }}</p>
    </div>

    <!-- right Section -->
    <div class="w-full md:w-1/2 relative flex items-center justify-center p-6 bg-cover bg-center " style="background-image: url('https://t3.ftcdn.net/jpg/12/61/80/46/360_F_1261804607_aPzz5THfXZVvypEaq6GgJ39NTGeMlQu0.jpg')">
      <div class="absolute inset-0 bg-[#6875e77a]"></div>
      <div class="text-center relative z-10">
       
      </div>
      
    </div>
  </div>
</div>
