<div class="dashboard-container">
    <div class="dashboard-header">
      <h2>User Dashboard</h2>
      <p class="greeting">Hello, {{ userData.name }} 👋</p>
    </div>
  
    <div class="user-card">
      <div class="avatar">
        <img src="https://i.pravatar.cc/100" alt="User Avatar" />
      </div>
      <div class="details">
        <div class="info">
          <span class="label">Full Name:</span>
          <span class="value">{{ userData.name }}</span>
        </div>
        <div class="info">
          <span class="label">Email:</span>
          <span class="value">{{ userData.email }}</span>
        </div>
        <div class="info">
          <span class="label">Age:</span>
          <span class="value">{{ userBirthdate }}</span>
        </div>
        <div class="info">
          <span class="label">Phone:</span>
          <span class="value">{{ userMobile  }}</span>
        </div>
      </div>
    </div>
  </div>
  
  